#container {
    position: relative;
}

#register-form fieldset {
    border: none;
    padding: 50px 100px;
}

#register-form legend {
    font-size: 50px;
    font-weight: bolder;
    margin: 0 auto;
    padding: 10px;
}

#register-form table {
    margin: 0 auto;
    border-spacing: 30px;
}

#register-form label {
    width: 100px;
    font: 20px bold sans-serif;
    margin-right: 50px;
    margin-left: 10px;
}

#register-form input {
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    border-color: gainsboro;
}

#register-form button {
    background-color: #cacaca;
    padding: 5px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
}

#info-table {
    margin: auto;
    border: 2px double gray;
}

#info-table tr:first-child {
    background-color: rgb(36, 216, 216);
}

#info-table th {
    font-size: 20px;
    padding: 5px 20px;
}

#info-table td {
    background-color: white;
    border: 2px solid gray;
    text-align: center;
    font-size: 20px;
    padding: 5px 20px;
}


/* Style of h1 of displayed message  */

#info-message {
    color: red;
    text-align: center;
}